* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: rgb(15, 15, 15);
}

#center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#container {
    background-color: rgb(22, 22, 22);
    padding: 15%;
    width: 200px;
    border-radius: 10px;
    transform: scale(1.5);
}

/* -------------------------------------------------------------------------- */

#img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.zoom {
    transition: transform .2s; 
    width: 200px;
    height: 200px;
    margin: 0 auto;
    transition: transform 0.15s, box-shadow 1s;
}
  
.zoom:hover {
    transform: scale(1.2); 
    box-shadow: 0px 0px 5px rgba(170, 66, 255, 0.596);
}



/* -------------------------------------------------------------------------- */

#header {
    margin-top: 20px;
    margin-bottom: 10px;
}

.name, .address, #about {
    text-align: center;
}

.name {
    color: white;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
}

.address {
    color: rgb(170, 66, 255);
    font-size: 10px;
    margin-bottom: 15px;
    font-weight: 500;
}

#about {
    color: rgba(255, 255, 255, 0.562);
    font-size: 10px;
    font-weight: 400;
}


/* -------------------------------------------------------------------------- */

#bottom-section {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-style {
    margin-bottom: 8px;
}

.btn-style, .bottom-btn {
    font-size: 10px;
    font-weight: 550;
    color: white;
    background-color: rgb(34, 34, 34);
    border-style: none;
    border-radius: 5px;
    padding-top: 9px;
    padding-bottom: 9px;
}