* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: rgb(15, 15, 15);
}

#center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#container {
    background-color: rgb(22, 22, 22);
    padding: 20%;
    border-radius: 10px;
    transform: scale(1.5);
}

/* -------------------------------------------------------------------------- */

#img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-top: -10%;
}

.zoom {
    transition: transform .2s; 
    width: 200px;
    height: 200px;
    margin: 0 auto;
    transition: transform 0.15s, box-shadow 1s;
}
  
.zoom:hover {
    transform: scale(1.2); 
    box-shadow: 0px 0px 5px rgba(170, 66, 255, 0.596);
}

/* -------------------------------------------------------------------------- */

#header {
    margin-top: 20px;
    margin-bottom: 10px;
}

.name, .address, #about {
    text-align: center;
}

.name {
    color: white;
    margin-bottom: 7px;
    font-size: 18px;
    font-weight: 600;
}

.address {
    color: rgb(170, 66, 255);
    font-size: 11px;
    margin-bottom: 20px;
    font-weight: 500;
}

#about {
    color: white;
    font-size: 11px;
    font-weight: 400;
}


/* -------------------------------------------------------------------------- */

#bottom-section {
    margin-top: 20px;
}

